html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

:root {
	font-size: 15px;
}

:focus {
	outline: none;
}

@media only print {
	body * {
		display: none !important;
	}

	body:after {
		content: "Don't waste paper!";
	}
}

body {
	font-family: 'Open Sans', sans-serif;
	font-size: 1rem;
	line-height: 162%;
	color: #343838;
	margin: 0;
	background: #2b2828;
}

main {
	color: #ffffff;
	background: #2b2828;
}

label {
	border-color: #ffffff;
}

option {
	color: #ffffff;
}

select {
	border: 1px solid #2b2828;
	background: #2b2828;
	color: #ffffff;
	padding: .4rem;
	font-family: inherit;
	font-size: inherit;
}

textarea {
	display: block;
	width: 100%;
	font-family: 'Source Code Pro', monospace;
	font-size: inherit;
	color: #ffffff;
	border-color: #ffffff;
	background: #2b2828;
	padding: 1rem;
	resize: vertical;
}

button {
	display: inline-block;
	font-weight: 600;
	color: #2b2828;
	background: #00B4CC;
	border: none;
	border-bottom: 4px solid #008C9E;
	padding: 1rem 1.6rem;
	font-size: 110%;
	cursor: pointer;
	border-radius: 3px;
}

.wrap {
	width: 90%;
	max-width: 60rem;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}

.elemnts--inline p {
	display: inline-block;
	margin-right: 1rem;
}

.wrap--header {
	border-bottom: 1px solid #2b2828;
}

.fixed--right {
	position: absolute;
	top: 1.2rem;
	right: 0;
}

.header {
	color: #005F6B;
	font-weight: 400;
}

.warn {
	color: orange
}